@import "tailwindcss";





body {
  @apply bg-gradient-to-br from-purple-700 to-indigo-900 min-h-screen flex items-center justify-center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}


.typing-dot {
  width: 6px;
  height: 6px;
  background-color: #d1d5db; /* gray-300 */
  border-radius: 9999px;
  display: inline-block;
  animation: typingBounce 1.4s infinite both;
}

.typing-dot:nth-child(1) {
  animation-delay: 0s;
}
.typing-dot:nth-child(2) {
  animation-delay: 0.2s;
}
.typing-dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typingBounce {
  0% {
    transform: translateY(0);
    opacity: 0.4;
  }
  20% {
    transform: translateY(-4px);
    opacity: 1;
  }
  40% {
    transform: translateY(0);
    opacity: 0.4;
  }
}


